
<div id="modalPaciente" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Agregar Paciente</h2>
        <form id="formulario">
            <label>Nombre:</label>
            <input type="text" name="Nombre" required />
            <label>apellido:</label>
            <input type="number" name="apellido"required />
            <label> Cedula:</label>
            <input type="text" name="Cedula" required />>
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>