@{
    ViewData["Title"] = "Inicio";
}

<video class="video-background" autoplay muted loop>
    <source src="~/videos/fondo.mp4" type="video/mp4" />
</video>

<div class="contenido">
    <h1 Class="titulo-inicio">Bienvenido!</h1>
    <form asp-controller="Home" asp-action="Sala" method="get">
        <button type="submit" class="button-inicio">Start</button>
    </form>
</div>