@using AGBACKEND
@{
    ViewData["Title"] = "Sala de consultorios";
}

@section Styles {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
}


<div class="imagen-fondo"></div>
    <nav class="navbar navbar-light navbar-expand-md " style="background-color: #5e97c0;">
        <a class="navbar-brand" href="#">Consultorios</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
        <form asp-controller="Home" asp-action="CrearConsultorio" method="post" class="form-inline mb-0">
            <button type="submit" id="Botton-CrearConsultorio" class="nav-item nav-link" style="background:none; border:none; padding:0; cursor:pointer;">
                Crear consultorio
            </button>
        </form>
        <a class="nav-item nav-link" id="botton-Paciente">Agregar paciente</a>
        <a class="nav-item nav-link" id="botton-Especialidad">Agregar especialidad</a>
        <a class="nav-item nav-link" id="botton-consultorio">Ver consultorio</a>
        <a class="nav-item nav-link" id="botton-AgendarCita">Agendar Cita</a>
    </div>
  </div>
</nav>

<div class="Contenedor-Consultorios">
    @await Html.PartialAsync("_Consultoriosfila", ViewBag.Consultorios as List<Consultorios> ?? new List<Consultorios>())
</div>

<div class="Contenedor-bajo">
    <div class="Contenedor-cola">
        @await Html.PartialAsync("_Citascola", (List<Cita>)ViewBag.ColaCitas)
    </div>
    <button class="btn-cuadrado">
        <img src="https://cdn-icons-png.flaticon.com/128/17400/17400193.png" alt="icono" />
    </button>
    <form asp-controller="Home" asp-action="ReacomodarColasinterfas" method="post">
        <button class="btn-cuadrado" type="submit">Asignar fila</button>
    </form>
    @if(ViewBag.Ramdon == false) {
        <form asp-controller="Home" asp-action="RamdonConsultorios" method="post">
            <button type="submit" class="btn-cuadrado">
                Ramdon
            </button>
        </form>
    }
</div>

<div id="modalContainer"></div>

@section Scripts {
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function recargarConsultorios() {
            console.log("Intentando recargar consultorios...");
            $("#contenedor-consultorios").load("/Home/Consultoriosfila", function () {
                console.log("Consultorios actualizados");
            });
        }

        function recargarCitas() {
            console.log("Intentando recargar citas...");
            $("#contenedor-citas").load("/Home/Citascola", function () {
                console.log("Citas actualizadas");
            });
        }

        setInterval(recargarConsultorios, 1);
        setInterval(recargarCitas, 1);

        toastr.options = {
        "positionClass": "toast-top-left"
        };

        @if (TempData["Mensaje"] != null)
        {
            <text>toastr.success("@TempData["Mensaje"]");</text>
        }

        @if (TempData["Error"] != null)
        {
            <text>toastr.error("@TempData["Error"]");</text>
        }

         document.getElementById("botton-AgendarCita").addEventListener("click", function () {
            fetch('/Home/AgendarCita')
                .then(response => response.text())
                .then(html => {
                    document.getElementById("modalContainer").innerHTML = html;
                    const modal = document.getElementById("modalCitas");
                    modal.style.display = "block";

                    modal.querySelector(".close").addEventListener("click", () => modal.style.display = "none");
                    window.addEventListener("click", event => {
                        if (event.target === modal) modal.style.display = "none";
                    });
                });
        });

        document.getElementById("botton-consultorio").addEventListener("click", function () {
            fetch('/Home/consultorio')
                .then(response => response.text())
                .then(html => {
                    document.getElementById("modalContainer").innerHTML = html;
                    const modal = document.getElementById("modalConsultorio");
                    modal.style.display = "block";

                    modal.querySelector(".close").addEventListener("click", () => modal.style.display = "none");
                    window.addEventListener("click", event => {
                        if (event.target === modal) modal.style.display = "none";
                    });
                });
        });
        document.getElementById("botton-Paciente").addEventListener("click", function () {
        fetch('/Home/AgregarPacientes')
            .then(response => response.text())
            .then(html => {
                document.getElementById("modalContainer").innerHTML = html;
                const modal = document.getElementById("modalPaciente");
                modal.style.display = "block";

                modal.querySelector(".close").addEventListener("click", () => {
                    modal.style.display = "none";
                });
                window.addEventListener("click", event => {
                    if (event.target === modal) {
                        modal.style.display = "none";
                    }
                });
            });
        })

        document.getElementById("botton-Especialidad").addEventListener("click", function () {
            fetch('/Home/AgregarEspecialidad')
                .then(response => response.text())
                .then(html => {
                    document.getElementById("modalContainer").innerHTML = html;
                    const modal = document.getElementById("modalEspecialidad");
                    modal.style.display = "block";

                    modal.querySelector(".close").addEventListener("click", () => modal.style.display = "none");
                    window.addEventListener("click", event => {
                        if (event.target === modal) modal.style.display = "none";
                    });
                });
        });

        document.getElementById("botton-AgendarCita").addEventListener("click", function () {
            fetch('/Home/AgendarCita')
                .then(response => response.text())
                .then(html => {
                    document.getElementById("modalContainer").innerHTML = html;
                    const modal = document.getElementById("modalCitas");
                    modal.style.display = "block";

                    modal.querySelector(".close").addEventListener("click", () => modal.style.display = "none");
                    window.addEventListener("click", event => {
                        if (event.target === modal) modal.style.display = "none";
                    });
                });
        });


        document.querySelectorAll('img[data-id]').forEach(img => {
            img.addEventListener('click', function () {
                const id = this.dataset.id;
                fetch(`/Home/MostrarConsultorio?id=${id}`)
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById("modalContainer").innerHTML = html;

                        const modal = document.getElementById("modalEstadosConsultorios");
                        modal.style.display = "block";

                        modal.querySelector(".close").addEventListener("click", () => modal.style.display = "none");

                        window.addEventListener("click", event => {
                            if (event.target === modal) modal.style.display = "none";
                        });
                    });
            });
        });
        document.querySelectorAll('.btn-fila').forEach(button => {
            button.addEventListener('click', () => {
            const id = button.dataset.id;
            fetch(`/Home/MostrarFilas?id=${id}`)
                .then(response => response.text())
                .then(html => {
                document.getElementById("modalContainer").innerHTML = html;
                const modal = document.getElementById("Cola-fila");
                if (!modal) {
                    console.error("No se encontró el modal con id 'modalCitas'");
                    return;
                }
                modal.style.display = "block";
                modal.querySelector(".close").addEventListener("click", () => modal.style.display = "none");
                window.addEventListener("click", event => {
                    if (event.target === modal) modal.style.display = "none";
                });
                })
                .catch(e => console.error("Error al cargar la fila:", e));
            });
        });
    </script>
}
