@{
    ViewData["Title"] = "Sala de consultorios";
}

<video class="video-background2" autoplay muted loop>
    <source src="~/videos/fondo.mp4" type="video/mp4" />
</video>


<div class= "contenido"> 
    <button class="button-inicio" id="botton-Consultorio" >Crear consultorio</button>
    <button class="button-inicio" id="botton-Paciente">Agregar paciente</button>
    <button class="button-inicio"  id="botton-Especialidad" >Agregar especialidad</button>
</div>


<div id="modalContainer"></div>

@section Scripts {
<script>
    document.getElementById("botton-Paciente").addEventListener("click", function () {
    fetch('/Home/AgregarPacientes')
        .then(response => response.text())
        .then(html => {
            document.getElementById("modalContainer").innerHTML = html;
            const modal = document.getElementById("modalPaciente");
            modal.style.display = "block";

            modal.querySelector(".close").addEventListener("click", () => {
                modal.style.display = "none";
            });
            window.addEventListener("click", event => {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            });
        });
    })
    document.getElementById("botton-Especialidad").addEventListener("click", function () {
    fetch('/Home/AgregarEspecialidad')
        .then(response => response.text())
        .then(html => {
            document.getElementById("modalContainer").innerHTML = html;
            const modal = document.getElementById("modalEspecialidad");
            modal.style.display = "block";

            modal.querySelector(".close").addEventListener("click", () => {
                modal.style.display = "none";
            });
            window.addEventListener("click", event => {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            });
        });
    })
    document.getElementById("botton-Consultorio").addEventListener("click", function () {
    fetch('/Home/CrearConsultorio')
        .then(response => response.text())
        .then(html => {
            document.getElementById("modalContainer").innerHTML = html;
            const modal = document.getElementById("modalConsultorio");
            modal.style.display = "block";

            modal.querySelector(".close").addEventListener("click", () => {
                modal.style.display = "none";
            });
            window.addEventListener("click", event => {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            });
        });
    })
</script>
}